* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

h1 {
  text-align: center;
  color: rgb(12, 26, 158);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: 48px;
  margin-top: 24px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.form-container input {
  width: 240px;
  height: 30px;
  border-radius: 16px;
  padding: 0 8px;
}

.form-container button {
  height: 30px;
  padding: 0 16px;
  border-radius: 16px;
}

.tarjetas-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*Card */


.tarjetas-container{
  width: 300px;
  border: 1px solid #b8b0b0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #e6dede;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100hv;
}
.valor{
  font-weight: bold;
  font-size: larger;
  
  
}

div .imagen {
  background-image: url('imagenes/clima.jpg');
  padding: 50%;
  background-repeat:space;
  width: 100%;
  height: 100hv;
 }

 h5{
  font-size: larger;
 }

.card-body{
  align-items: center;
  text-align: center;
  background-color: rgb(220, 228, 228);
  padding-bottom: 16px;
  margin-top: 16px;
}

p{
  padding: 10px;
}